<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to Restaurant Order Web API!</h1>
                 
            </hgroup>
            <p>
                点餐系统 Web Api
            </p>
             
        </div>
    </section>
     
</div>
